extends /templates/base

block content
  form.form.hide
    h1.text-center(data-i18n="teachers_quote.title")
    p.text-center(data-i18n="teachers_quote.subtitle")

    .row
      .col-sm-offset-2.col-sm-4
        .form-group
          label.control-label(data-i18n="general.name") 
          input.form-control(name="name")
          
      .col-sm-4
        .form-group
          label.control-label(data-i18n="general.email")
          input.form-control(name="email")
    
    .row
      .col-sm-offset-2.col-sm-4
        .form-group
          label.control-label
            span(data-i18n="teachers_quote.phone_number")
            span.spl.text-muted (optional)
          .help-block
            em.text-info Where can we reach you during the workday?
          input.form-control(name="phoneNumber")
          
      .col-sm-4
        .form-group
          label.control-label Your role
          .help-block
            em.text-info Select your primary role.
          select.form-control(name="role")
            option Teacher
            option Technology coordinator
            option Advisor
            option Principal
            option Superintendent
            option Parent
    
    .row
      .col-sm-offset-2.col-sm-8
        hr
    
    .row
      .col-sm-offset-2.col-sm-4
        .form-group
          label.control-label Name of School/District
          input.form-control(name="organization")
          
      .col-sm-4
        .form-group
          label.control-label City
          input.form-control(name="city")
          
    .row
      .col-sm-offset-2.col-sm-4
        .form-group
          label.control-label State
          input.form-control(name="state")
          
      .col-sm-4
        .form-group
          label.control-label Country
          input.form-control(name="country")
          
    .row
      .col-sm-offset-2.col-sm-8
        hr
          
    .row
      .col-sm-offset-2.col-sm-5
        .form-group
          label.control-label Number of students
          .help-block
            em.text-info How many do you anticipate enrolling in CodeCombat?
          select.form-control(name="numStudents")
            option 1-10
            option 11-50
            option 51-100
            option 101-200
            option 201-500
            option 501-1000
            option 1000+
            
    .row
      .col-sm-offset-2.col-sm-4
        .form-group
          label.control-label Education level
          .help-block
            em.text-info Choose as many as apply.
            
    .row
      .col-sm-offset-2.col-sm-2
        label.control-label.checkbox
          input(type="checkbox" name="educationLevel" value="Elementary")
          | Elementary School
      .col-sm-2
        label.control-label.checkbox
          input(type="checkbox" name="educationLevel" value="High")
          | High School
      .col-sm-6
        .checkbox-inline
          label.control-label
            input#other-education-level-checkbox(type="checkbox")
            | Other
            br
            | (please explain)
        input#other-education-level-input.form-control
        
    .row
      .col-sm-offset-2.col-sm-2
        label.control-label.checkbox
          input(type="checkbox" name="educationLevel" value="Middle")
          | Middle School
      .col-sm-2
        label.control-label.checkbox
          input(type="checkbox" name="educationLevel" value="College+")
          | College or higher
        
    #anything-else-row.row
      .col-sm-offset-2.col-sm-8
        label.control-label
          | Anything else we should know?
          span.spl.text-muted (optional)
        
        textarea.form-control(rows=8, name="notes")
        
    #buttons-row.row.text-center
      input#submit-request-btn.btn.btn-primary(type="submit") Submit Request
      
      
  #form-submit-success.text-center
    h1.text-center Thanks for requesting a quote!
    p.text-center
      | We'll be in touch soon. Questions? email
      a.spl(href="mailto:team@codecombat.com") team@codecombat.com
      | .
    
    if me.isAnonymous()
      p.text-center Login or sign up with your account below to access your two free enrollments (we’ll notify you by email when they have been approved, which usually takes less than 48 hours). As always, the first hour of content is free for an unlimited number of students.
        
      p.text-center
        button#login-btn.btn.btn-info(data-i18n="login.log_in")
        button#signup-btn.btn.btn-info(data-i18n="login.sign_up")
    else
      p.text-center Your two free enrollments are pending approval. We’ll notify you by email when they have been approved (usually within 48 hours). As always, the first hour of content is free for an unlimited number of students.